<body>
  <div id="rectangle">
      <h1 align="center">Login</h1>
  </div>
  <br>
  <br>
  <br>
  <div style="margin-bottom: 100px">
    <img class="loginImage" src="/assets/logo2.png">
  </div>
  <div class="loginzeug" align="right">
    <table>
      <tr>
        <td>
          <br>
          <br>
          <mat-input-container>
            <input matInput [(ngModel)]="email" placeholder="E-Mail">
          </mat-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <br>
          <mat-input-container>
            <input matInput [(ngModel)]="password" placeholder="Password" type="password">
          </mat-input-container>
        </td>
      </tr>
    </table>
    <div style="margin-left: 50px;" align="center">
      <button mat-raised-button (click)="login()">Login</button>
    </div>
  </div>
</body>