<mat-toolbar>
    <button class="homebutton" (click)="home()">
        <img src="/assets/logo2.png" height="50" width="60">
    </button>
    <span class="spacer"></span>
    <button *ngIf="!data.angemeldeterUser" (click)="login()" class="loginbutton">
        Login
    </button>
    <button *ngIf="!data.angemeldeterUser" (click)="register()" class="loginbutton">
            Register
        </button>
    <button *ngIf="data.angemeldeterUser" (click)="gotoProfile()" class="loginbutton">
        Profil
    </button>
    <button *ngIf="data.angemeldeterUser" (click)="logout()" class="loginbutton">
        Logout
    </button>
</mat-toolbar>
<hr size="3" color="#2949FF">
<router-outlet></router-outlet>