<!DOCTYPE html>
<html>

<body>
    <div style="background-color:white" class="HeadPicture">
        <img src="/assets/Paderborn.jpg" class="HeadPicture" alt="Avatar">
    </div>

    <div class="textFirstPage" style="background-color:darkblue; text-align:center; margin-left:30px; margin-right:30px">
        <h1>
            <u>
                <p>Willkommen auf Padaca!</p>
            </u>
        </h1>

        <div class="fontsizetext">
            <img src="/assets/logo2.png" class="logobild" alt="Avatar">
            <p>
                Du bist Paderborner und möchtest abreisen, oder aber deine Rückreise in die Heimat planen?
                <br> Dies ist dein Ausgangspunkt um als Fahrer spielend leicht deine Fahrt anzubieten oder als Mitfahrer sicher
                und schnell ans Ziel zu kommen!
                <br>
                <br>
            </p>
        </div>
    </div>
    <a (click)="suchen()">
        <div class="left-container">
            <img src="/assets/fahrtsuchen_groß2.png" alt="Avatar" class="image && z-depth-5">
            <div class="overlay">
                <div class="text">Fahrt suchen!</div>
            </div>
        </div>
    </a>
    <a (click)="anbieten()">
        <div class="right-container" align="center">
            <img src="/assets/fahrt_anbieten.png" alt="Avatar" class="image && z-depth-5">
            <div class="overlay">
                <div class="text">Fahrt anbieten!</div>
            </div>
        </div>
    </a>
    <br>
    <br>
    <div class="groundLine">
        <hr size="3" color="#2949FF" />
    </div>
    <br>
    <br>

    <div class="parallax1">
        <div id="rectangle">
            <u>
                <h1>
                    <p align="center">Padaca
                        <p>
                </h1>
            </u>
            <p>
                Padaca ist Dein Dienst falls du sicher und günstig ans Ziel kommen willst. Egal ob regelmäßig oder im Rahmen einer einzelnen
                Fahrt, mit Padacar ist es leicht Andere zu finden die genau die gleiche Route fahren müssen. Du bist Fahrer?
                Kein Problem, spare Geld indem Du andere Leute mitnimmst und Ihnen somit eine günstige Fahrt ermöglichst.
                Du bist Mitfahrer? Mit Padacar hast Du die Möglichkeit günstig, schnell und sicher ans Ziel zu kommen.
                <br>
                <br> Unser Dienst bietet Dir die volle Transparenz: Jeder Fahrer besitzt ein Profil mit einem Rating, welches
                sich aus dem Durchschnitt der bisherigen Bewertungen berechnet. So stellst Du sicher, dass Du auf deiner
                Reise in guter Gesellschaft bist. Neben Start und Ziel Angaben siehst du dort auch eine sich in Echtzeit
                aktualisierende Angabe über die Sitzplätze im Auto. Auch steht dort der endgültige Preis für die Fahrt. Die
                Bezahlung wird komplett über die Padaca Plattform abgewickelt. Das sorgt nicht nur für einen sicheren und
                reibungslosen Zahlungsablauf, es ermöglicht Dir auch bequem per Paypal, Kreditkarte oder Überweisung zu zahlen.
                <br>
                <br> Hast Du als Mitfahrer die passende Reise samt Fahrer gewählt, bekommt der Fahrer eine Anfrage mit deinem
                Profil. Normalerweise erfolgt eine Antwort binnen 24 Stunden, und sobald der Fahrer die Anfrage angenommen
                hat und die Bezahlung erfolgt ist kann die Reise auch schon losgehen!
                <br>
                <br> Als Fahrer steht Dir vollkommen frei welche Mitfahrer du mitnimmst. Du kriegst Einsicht in das Profil und
                die Bewertungen der potentiellen Mitfahrer und kannst frei entscheiden, welche Anfragen Du annimmst. Somit
                ist gewährleistet dass Du eine angenehme Reise hast!
                <br>
                <br> Über uns/Meet the Team: Wir sind die VModell GmbH, ein junges Startup mit Sitz im wunderschönen Paderborn.
                Unsere Spezialisierung liegt bei Auftragsarbeiten, und wir sind bereit diese mit vollem Elan und Selbstvertrauen
                anzugehen und umzusetzen. Unsere Leistungen umfassen nicht nur das bloße Abfertigen eines Auftrags, auch
                sind wir gerne bereit den Kunden in Sachen Machbarkeit, Design, Usability und Kosten umfassend zu beraten
                sodass am Ende alle Seiten mit dem Produkt zufrieden sind.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div align="left">
        <img src="/assets/zahlungsmethoden.png" class="zahlungsm">

    </div>
    <div class="groundLine">
        <hr size="3" color="#2949FF" />
    </div>
</body>

</html>
