<!DOCTYPE html>
<html>

<body>
    <div class="textFirstPage">
        <h1>
            <u>Padacar</u>
        </h1>
        <h1>Willkommen auf der Website von Padacar!</h1><br>
        <h3 class="fontsizetext">
            Du bist Paderborner und möchtest abreisen, oder aber deine Rückreise in die Heimat
        planen? Dies ist dein Ausgangspunkt um als Fahrer spielend leicht deine Fahrt anzubieten oder als Mitfahrer sicher
        und schnell ans Ziel zu kommen!</h3>
    </div>
    <a (click)="suchen()">
        <div class="left-container">
            <img src="/assets/fahrtsuchen_groß2.png" alt="Avatar" class="image && z-depth-5">
            <div class="overlay">
                <div class="text">Fahrt suchen!</div>
            </div>

        </div>
    </a>
    <a>
        <div class="right-container" align="center">
            <img src="/assets/fahrtsuchen_groß.png" alt="Avatar" class="image && z-depth-5">
            <div class="overlay">
                <div class="text">Fahrt anbieten!</div>
            </div>
        </div>
    </a>
</body>

</html>