<body>
<div class=parallax align="left">
  <div id="rectangle">
   
      <div class="textfield">
        <br>
        <h1>Neue Fahrt anlegen</h1>
        <br>
        <br>
        <table>
          <tr>
            <td>
              <label>Start:</label>
            </td>
            <td width="30px"></td>
            <td>
              <input class="textinput" type="text" name="startort" [(ngModel)]="startort" placeholder="z.B. Paderborn Hauptbahnhof" required
                size="30">
            </td>
          </tr>
          <tr>
            <td>
              <label>Ziel:</label>
            </td>
            <td></td>
            <td>
              <input type="text" name="zielort" [(ngModel)]="zielort" placeholder="z.B. München" size="30" required>
            </td>
          </tr>
          <tr>
            <td>
              <label>Datum:</label>
            </td>
            <td></td>
            <td>
              <input type="date" name="datum" [(ngModel)]="datum" required>
            </td>
          </tr>
          <tr>
            <td>
              <label>Uhrzeit:</label>
            </td>
            <td></td>
            <td>
              <input type="time" name="uhrzeit" [(ngModel)]="uhrzeit" required>
            </td>
          </tr>
          <tr>
            <td>
              <label>Maximale Anzahl Mitfahrer:</label>
            </td>
            <td></td>
            <td>
              <select [(ngModel)]="mitfahrer" name="mitfahrer">
                <option *ngFor="let number of maxmitfahrer" value= {{number}}>{{number}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Gepäckmitnahme:</label>
            </td>
            <td></td>
            <td>
              <select [(ngModel)]="gepaeckstueck" name="gepaeckstueck">
                <option *ngFor="let text of gepaeck" value= {{text}}>{{text == "true" ? 'Ja' : 'Nein'}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Regemläßig:</label>
            </td>
            <td></td>
            <td>
                <select [(ngModel)]="regel" name="regel">
                    <option *ngFor="let text of regelmaessig" value= {{text}}>{{text}}</option>
                  </select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Preis:</label>
            </td>
            <td></td>
            <td>
              <input type="number" name="preis" [(ngModel)]="preis" placeholder="20,00" required><label>  €</label>
            </td>
          </tr>
        </table>
        <br>
        <div style="color:red" *ngIf="fehlermeldung!=''">{{fehlermeldung}}</div>
        <br><br><br><br>
        <button mat-raised-button color="primary" class="btnfahrtanbieten" (click)="fahrtAnbieten()"><b>Fahrt anlegen</b></button>
        <button mat-raised-button color="primary" class="back" routerLink="landing-page">Abbrechen</button>
      </div>
  </div>
</div>
</body>