<html>

<body>

  <div align="center" class="fahrerhead">
    <img src="/assets/fahrtsuchen_groß2.png" alt="Avatar" class="imagesmall">
    <h2>{{user.vorname}} {{user.name}}</h2>
  </div>

  <br>


  <div class="parallax3">
    <div id="rectangletop">
      <table style="width:100%">
        <tr>
          <td>
            <div class="fahrerdetailstext" align="left">
              <br>
              <br>
              <br>
              <br>
              <h3>Fahrerdetails:</h3>
              <p>Name: {{user.vorname}} {{user.name}}</p>
              <p>Geschlecht: {{user.geschlecht}}</p>
              <p>Geburtstag: {{user.geburtsdatum | date:'dd.MM.yyyy'}}</p>
              <p>E-Mail: {{user.email}}</p>
              <br>
              <br>
              <table>
                <tr>
                  <td>
                    <img src="/assets/thumb-up.png" alt="Avatar" class="ratingup">
                    <b>{{user.likes}}</b>
                  </td>
                  <td width="50px"></td>
                  <td>
                    <img src="/assets/thumb-down.png" alt="Avatar" class="ratingdown">
                    <b>{{user.dislikes}}</b>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td>

          </td>

        </tr>
      </table>
    </div>
  </div>



  <br>
  <br>
  <br>
  <br>

  <div class="parallax2" align="left">
    <div id="rectanglemiddle">
      <div class="fahrtendetailstext" align="left">
        <br>
        <h3>Fahrtenhistorie:</h3>
        <h4 *ngIf="this.user.gefahreneFahrten.length!==0">Fahrer:</h4>
        <ul *ngIf="this.user.gefahreneFahrten.length!==0">
          <li (click)="onFahrt(gfahrt.id)" *ngFor="let gfahrt of this.user.gefahreneFahrten">{{gfahrt.datum | date:'dd.MM.yyyy'}}: {{gfahrt.start}} - {{gfahrt.ziel}}</li>
        </ul>
        <h4 *ngIf="this.user.mitgefahreneFahrten.length!==0">Mitfahrer:</h4>
        <ul *ngIf="this.user.mitgefahreneFahrten.length!==0">
            <li (click)="onFahrt(mfahrt.id)" *ngFor="let mfahrt of this.user.mitgefahreneFahrten">{{mfahrt.datum | date:'dd.MM.yyyy'}}: {{mfahrt.start}} - {{mfahrt.ziel}}</li>
        </ul>



        <p></p>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>

  <div class="parallax1" align="left">
    <div id="rectangledown">
      <div class="fahrzeugdetailstext">
        <h3>Fahrzeugdetails:</h3>
        <p>Automarke: {{user.auto.marke}}</p>
        <p>Fahrzeugmodell: {{user.auto.modell}}</p>
        <p>Fahrzeugtyp: {{user.auto.typ}}</p>
        <p>Farbe: {{user.auto.farbe}}</p>
      </div>
    </div>
  </div>




  <hr color="blue" item-height="2px">
  <table width="100%">
    <tr>
      <td align="right" style="height:60px">

      </td>
    </tr>
  </table>

</body>

</html>
