<div class="parallax2">
  <div id="rectangle">

    <table>
      <tr>
        <td>
          <label>Start:</label>
        </td>
        <td width="30px"></td>
        <td>
          <input class="textinput" type="text" name="startort" [(ngModel)]="startort" placeholder="z.B. Paderborn Hauptbahnhof" required
            size="30">
        </td>
      </tr>
      <tr>
        <td>
          <label>Ziel:</label>
        </td>
        <td></td>
        <td>
          <input type="text" name="zielort" [(ngModel)]="zielort" placeholder="z.B. München" size="30" required>
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <label>Datum:</label>
        </td>
        <td></td>
        <td>
          <input type="date" name="datum" [(ngModel)]="datum" required>
        </td>
      </tr>

      <br />
      <tr>
        <td>
          <label>Geschlecht des Fahrers</label>
        </td>
        <td></td>
        <td>
          <select [(ngModel)]="geschlecht" name="geschlecht">
              <option *ngFor="let g of geschlechter" [value]="g">{{g}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Gepäckmitnahme:</label>
        </td>
        <td></td>
        <td>
          <select [(ngModel)]="gepaeckstueck" name="gepaeckstueck">
            <option *ngFor="let text of gepaeck" [value]= "text">{{text}}</option>
          </select>
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <label>Preis:</label>
        </td>
        <td></td>
        <td>
          <input type="number" name="preis" [(ngModel)]="preis" placeholder="20,00"><label>  €</label>
        </td>
      </tr>
    </table>
    <br />

  <button mat-raised-button color="primary" (click)="onSearch()">Suche</button>


  <p style="color:red" *ngIf="fehlermeldung!=''">{{fehlermeldung}}</p>
  </div>
</div>


<br />
<br />

<hr color="darkblue">
<br />
<br />
<div  class="parallax1" *ngIf="isSearch">
  <div >
    <div *ngFor="let f of fahrten; let i = index">
      <mat-card class="example-card" (click)="onDrive(i)">
    <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{f.fahrer.vorname}} {{f.fahrer.name}}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{f.start}} - {{f.ziel}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td class="fahrtDiv">
            {{f.fahrer.geschlecht}}<br /><br />
            {{f.fahrer.alter | number:'1.0-0'}} Jahre
          </td>
          <td class="fahrtDiv">
            <mat-icon>thumb_up</mat-icon> {{f.fahrer.likes}}<br /><br />
            <mat-icon>thumb_down</mat-icon> {{f.fahrer.dislikes}}<br />
          </td>
          <td class="fahrtDiv">
            Von: {{f.start}}<br /><br />
            Nach: {{f.ziel}}<br /><br />
            Preis: {{f.preis}}€
          </td>
          <td class="fahrtDivEnde">
            Uhrzeit: {{f.uhrzeit}}<br /><br />
            Datum: {{f.datum | date:'dd.MM.yyy'}}
          </td>
        </tr>
      </table>
      <p *ngIf="f.maxmitfahrer <= f.mitfahrer.length">
        Fahrt ist voll!
      </p>
   </mat-card-content>

      </mat-card>
      <br />
    </div>
  </div>

</div>
